.app{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:40px 24px;
}

.searchForm{
  margin-top: 18px;
}

.app_input{
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vw;
  font-size: 15px;
}

.app_submit{
  padding: 6px 16px;
  color:white;
  font-size: 15px;
  margin-left: 6px;
  background-color: blue;
  border-radius: 5%;
  border: 2px solid black;
  cursor:pointer;

}

.app_recipes{
  margin-top: 24px;
  display: grid;
  grid-template-columns: 330px 330px;
  align-items: baseline;
}

.make{
  color:white;
  font-weight: bold;
  text-align: center;
  margin-left:200px ;
}